.button {
  transition: background-color 0.1s ease-in-out;
}

.hero {
  background-color: #fed1a2;
}

.notification {
  width: 400px;
  left: 50%;
  margin-left: -200px;
  position: absolute;
  top: 40px;
  background-color: #a2feb2;
  color: #111;
}

.user-logo {
  width: 36px;
  height: 36px;
  float: left;
  margin-right: 10px;
  border-radius: 3px;
}

.control.with-image {
  display: flex;
  align-items: center;
}

.button.is-primary {
  background-color: #feefa2;
  color: #111;
}

.button.is-primary:hover,
.button.is-primary:focus {
  background-color: #edfea2;
  color: #111;
}

.input:focus {
  border-color: #fed1a2;
}
