.user-logo {
  width: 36px;
  height: 36px;
  float: left;
  margin-right: 10px;
  border-radius: 3px;
}

.control.with-image {
  display: flex;
  align-items: center;
}

.footer {
  font-size: 13px;
}

.separator {
  padding: 0 1em;
}

.section:not(:last-child) {
  padding: 3rem 1.5rem 0 1.5rem;
}
