.user-logo {
  width: 36px;
  height: 36px;
  float: left;
  margin-right: 10px;
  border-radius: 3px;
}

.control.with-image {
  display: flex;
  align-items: center;
}

.footer {
  font-size: 13px;
}

.separator {
  padding: 0 1em;
}

.section:not(:last-child) {
  padding: 3rem 1.5rem 0 1.5rem;
}

.sidebar-section {
  padding-left: 0;
  padding-right: 0;
}

.content {
  position: relative;
}

.notification {
  width: 400px;
  left: 50%;
  margin-left: -200px;
  position: fixed;
  top: 20px;
  z-index: 1;
  background-color: #a2feb2;
  color: #111;
  border: 1px solid #999;
  padding: 0.75rem 2.5rem 0.75rem 1.5rem;
}

.notification.error {
  background-color: #FEB5A2;
  color: #111;
}

.flex-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flex-row .fields {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

.flex-row .subtitle {
  width: 160px;
}

.flex-row + .flex-row {
  margin-top: 1rem;
  padding-top: 1rem;
  border-top: 1px solid #eee;
}

.checkboxes .checkbox {
  display: block;
}

.checkboxes .checkbox + .checkbox {
  margin-top: 0.75em;
}

.title {
  display: flex;
  align-items: center;
}

.logo {
  margin-right: 10px;
  width: 36px;
  height: 36px;
}

.hero-body .title:not(.is-spaced) + .subtitle {
  margin-left: 47px;
  margin-top: -1.2rem;
}

.menu-list a:hover {
  background-color: #F8FFDA;
  color: #DA8328;
}

.field.centered {
  justify-content: center;
}

.column.centered {
  align-items: center;
  display: flex;
}
