.hero-body {
  padding: 0.5rem 0.75rem;
}

.shortcuts-list dt {
  font-family: "Consolas", "Menlo", "Monaco", "Lucida Console", "Liberation Mono", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Courier New", monospace, sans-serif;
}

.repository,
.organization {
  font-weight: 700;
}
