.hero-body {
  padding: 0.3rem 0.75rem;
}

.section {
  padding: 0;
}

.shortcuts-list {
  padding: 0 0.75rem;
}

.shortcuts-list dt,
.modifier-key {
  font-family: "Consolas", "Menlo", "Monaco", "Lucida Console", "Liberation Mono", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Courier New", monospace, sans-serif;
}

.shortcuts-list dt {
  float: left;
  width: 1em;
  overflow: hidden;
  clear: left;
  text-align: right;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-top: 0.1em;
  border-radius: 3px;
  padding: 0.2em;
  font-weight: 700;
}

.shortcut {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.shortcut:hover {
  text-decoration: underline;
}

.shortcuts-list dd {
  margin-left: 1.9em;
  border-radius: 3px;
  padding: 0.2em 0.4em;
}

.shortcuts-list dd:not(:last-child) {
  margin-bottom: 0.25rem;
}

.shortcuts-list dd .modifier {
  font-size: 0.8rem;
  margin-top: 0.25rem;
}

.modifier-key {
  background-color: #eee;
  padding: 0.1em 0.3em;
  border-radius: 1px;
}

.repository,
.organization {
  font-weight: 700;
}

.shortcut.highlighted,
.modifier.highlighted,
.modifier.highlighted .modifier-key {
  background-color: #edfea2;
  color: #111;
}

.content h2:not(:first-child) {
  margin-top: 0;
}

.subtitle:not(:last-child), .title:not(:last-child) {
  margin-bottom: 0.25rem;
}

.title.is-6 {
  font-weight: 500;
  font-size: 1rem;
}

.subtitle.is-6 {
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.3em 0.75rem;
  background-color: #efefef;
}

.subtitle span {
  font-weight: inherit;
}

.content dl:not(:last-child),
.content dl:last-child {
  margin-bottom: 0.75rem;
}

.user-logo {
  width: 20px;
  height: 20px;
  display: inline-block;
  margin-right: 5px;
  border-radius: 3px;
  vertical-align: middle;
}

.content {
  line-height: 1.3;
}

.repo-switch,
.repo-switch .subtitle.is-6 {
  font-size: 0.875rem;
}

.octicon {
  display: inline-block;
  vertical-align: text-top;
  fill: currentColor;
}

.shortcut .octicon {
  color: #777;
}

.grow {
  flex-grow: 1;
}

.shortcut .letter {
  font-weight: 700;
}
