.button {
  transition: background-color 0.1s ease-in-out;
}

.hero {
  background-color: #fed1a2;
}

.button.is-primary {
  background-color: #feefa2;
  color: #111;
}

.button.is-primary:hover,
.button.is-primary:focus {
  background-color: #edfea2;
  color: #111;
}

.button.is-primary[disabled] {
  background-color: #edfea2;
  color: #111;
}

.input:focus {
  border-color: #fed1a2;
}
