a,
a:link,
a:visited,
a:active {
  color: #DA8328;
  text-decoration: none;
  transition: color 0.1s ease-in-out;
}

a:hover,
a:focus {
  color: #22D541;
}

.button {
  transition: background-color 0.1s ease-in-out;
}

.button.is-primary {
  background-color: #feefa2;
  color: #111;
}

.button.is-primary:hover,
.button.is-primary:focus {
  background-color: #edfea2;
  color: #111;
}

.button.is-primary[disabled] {
  background-color: #edfea2;
  color: #111;
}

.hero {
  background-color: #feefa2;
}

.input:focus {
  border-color: #22D541;
}

.octicon {
  display: inline-block;
  vertical-align: text-top;
  fill: currentColor;
}
